<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://media.istockphoto.com/id/873418908/photo/doctor-in-hospital-background-with-copy-space.jpg?s=612x612&w=0&k=20&c=LU2QQWcTtswXWQuQacqLrDGW1S_8thqkmahlvPxhIB0="
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
            <h3 class="mb-5 text-uppercase">Update form</h3>
  
              <form #form ="ngForm" class="px-md-2" (ngSubmit) = "updateDetails()">
                <div class="mb-3 mt-3">
                  <label class="form-label" for="id">HCO_Id</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)] = "updateOngRequest.id" readonly>
                  </div>
  
                <div class="mb-3 mt-3">
                  <label class="form-label" for="oName">Organization Name</label>
                    <input type="text" class="form-control" id="oName"  placeholder= "Enter Name" name="oName" [(ngModel)] = "updateOngRequest.oName" required>
                  </div>
  
                <div class="mb-3 mt-3">
                  <label class="form-label" for="address">Address</label> 
                    <input class="form-control" type="text" id="address"  placeholder= "Enter Address" name="address" [(ngModel)] = "updateOngRequest.address" required>
                  </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                          <label class="form-label" for="country">Country</label><br> 
                          <select class="select" (change)="changeCountry($event)" id="country" name="country" [(ngModel)] = "updateOngRequest.country">
                            <option>--Choose Country--</option>
                            <option *ngFor="let country of Countries">{{country.name}}</option>
                        </select>
                      </div>

                        <div class="col-md-6 mb-4">
                          <label class="form-label" for="state">State</label><br>
                          <select class="select" id ="state" *ngIf="states.length==0" name="state" [(ngModel)] = "updateOngRequest.state">
                            <option>{{updateOngRequest.state}}</option>
                        </select>
                          <select class="select" id ="state" *ngIf="states.length>0" name="state" [(ngModel)] = "updateOngRequest.state">
                            <option>--Choose State--</option>
                            <option *ngFor="let state of states">{{state}}</option>
                        </select>
                      </div>
                      </div>
                      <div class="mb-3 mt-3">
                        <label class="form-label" for="city">City</label>
                        <input type="text" class="form-control" id="city"  placeholder= "City" pattern="[a-zA-Z\s]+" name="city" [(ngModel)] = "updateOngRequest.city">
                        
                      </div>
  
                <div class="mb-3 mt-3">
                  <label class = "form-label" for="zipcode">Zip Code</label>
                  <input class = "form-control" type="number" id="zipcode"  placeholder= "Zip code" pattern="[1-9]{1}[0-9]{5}" name="zipcode" [(ngModel)] = "updateOngRequest.zipcode">
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" type="email" id="email" placeholder= "Email Id" pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [(ngModel)] = "updateOngRequest.email" required>
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="website">Website</label>
                  <input class="form-control" type="text" id="website"  placeholder= "Enter" pattern="www+\.+[a-z]+\.+com" name="website" [(ngModel)] = "updateOngRequest.website" required>
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label">Primary Contact Person</label>
                  <input class="form-control" type="text" id="pricontact" placeholder= "Primary Contact Person" name="priContact" [(ngModel)] = "updateOngRequest.priContact" required>
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="pricontactmob">Primary Contact Person Mobile</label>
                  <input class="form-control" type="number" id="pricontactmob" placeholder= "Enter" pattern="[1-9]{1}[0-9]{9}" name="priontactmob" [(ngModel)] = "updateOngRequest.priContactmob"required>
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="seccontact">Secondary Contact Person</label>
                  <input class="form-control" type="text" id="seccontact" placeholder= "Secondary Contact Person" pattern="[1-9]{1}[0-9]{9}" name="secontact" [(ngModel)] = "updateOngRequest.secContact" required>
                  
                </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="seccontactmob">Secondary Contact Person Mobile</label>
                  <input class="form-control" type="number" id="seccontactmob" placeholder= "Enter" pattern="[1-9]{1}[0-9]{9}"name="secContactmob" [(ngModel)] = "updateOngRequest.secContactmob" required>
                  
                </div>
                <div class="mb-3 mt-3">
                  <label class="form-label" for="programtobeAccreditted">Program ToBe Accreditted</label>
                    <input type="text" class="form-control" id="programtobeAccreditted"  placeholder= "Enter" name="programtobeAccreditted" [(ngModel)] = "updateOngRequest.programtobeAccreditted" required>
                  </div>

                <div class="mb-3 mt-3">
                  <label class="form-label" for="status">Status</label>
                  <input type="text" class="form-control" id="status" name="status" [(ngModel)] = "updateOngRequest.status" readonly>
                  
                </div>

                <br>
                <div class="d-flex justify-content-center">
                  <button type="submit" [disabled]="f" class="btn btn-success btn-block btn-lg text-body">Save</button>
                  <button class="btn btn-light btn-block btn-lg text-body" (click)="close()">close</button>
                </div>

  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>